<%- include ("partials/header") %>

<div class="container-fluid about">
  <h1>About</h1>

  <p class="about-msg">
    BeeHive is a place where you can share your ideas and opinions on anything
    which interests you anonymously because you don't have to create an account
    for posting anythig. You just have to post your idea and it will shared .
  </p>
  <br />

  <p class="about-msg">
    There really is something for everyone on BeeHive. You just have to search
    for it.
  </p><br>

  <img src="/images/beehive.png" width="70" height="70" class="about-img">


</div>

<%- include ("partials/footer") %>
