<%- include ("partials/header") %>

<div class="container-fluid contact">
  <h3>For any queries and assistance write to us</h3>
  <br /><br />

  <h1>Connect with us</h1>
  <br />

  <p class="connect-msg">
    You're not going to hit a ridiculously long phone menu when you call us.
    Your email isn't going to the inbox abyss, never to be seen or heard from
    again. At BeeHive, we provide the exceptional service we'd want to
    experience ourselves!
  </p>
  <br />

  <img src="/images/email.png" width="30" height="30" />
  <a href="mailto:souravkumarr88@gmail.com"> BeeHive@com.</a> <br><br>
  <img src="/images/call.png" width="30" height="30" /> (+91) 8527968861.<br><br>
  <img src="/images/map.png" width="30" height="30" /> C-349, Sec-36, Greater
  Noida, India.
</div>

<%- include ("partials/footer") %>
