html {
  height: 100%; /* for the page to take full window height */
  box-sizing: border-box; /* to have the footer displayed at the bottom of the page without scrolling */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* enable the "border-box effect" everywhere */
}

body {
  position: relative; /* for the footer to move with the page size */
  min-height: 100%; /* for the footer to be at the bottom */
  padding-bottom: 6rem; /* Space available between last element and bottom border of the page */
}

.header {
  font-size: large;
  font-family: Open Sans;
}

.compose,
.contact,
.about,
.home,
.post {
  padding: 5rem 10rem 0 10rem;
}

.footer {
  padding-top: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  font-family: Open Sans;
}

.contact,
.about,
.compose,
.home,
.post {
  font-family: Open Sans;
  size: 10rem;
}

.about-msg,
.connect-msg,
.label-title,
.label-post {
  font-size: 1.3rem;
}

.about-img {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
